body{
    background-image: url("collection/red.webp");
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/*Header*/

header {
    padding:20px;
    height: 109px;
    background-color: black;
    background-size: 100%;
    background-position: center ;
    text-align: center;
}

header a:hover {
    color: rgb(192, 192, 192);
}

header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 30px;
}

header .logo a {
background-image: url("logo/logo.png");
background-size: 170px;
background-repeat: no-repeat;
display: inline-block;
height: 60px;
position: relative;
text-indent: -9999999px;
top: -10px;
width: 200px;
}

/*Login*/
.login{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    position: absolute;
    right: 0%;
}

/*Fronts*/

.frontbags{
    padding:20px;
    height: 300px;
    background-color: grey;
    background-image: url("bags/bf.jpg");
    background-size:100%;
    background-repeat: no-repeat;
    text-align: left;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}

.frontshirts{
    background-color: grey;
    background-image: url("tshirt/front.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 300px;
    padding: 20px;
    text-align: left;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}

.frontarrivals{
    background-color: grey;
    background-image: url("newarrivals/front.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 300px;
    padding: 20px;
    text-align: left;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}
/*Menubar*/

#menu{
    background-color: white;
    padding: 20px;
    height: 20px;
    width: 100%;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
 } 
#menu li{
    width: 100px;
    padding: 5px 5px;
    text-align: center;
    position: relative;
    list-style: none; 
 } 

#menu li:hover{
    cursor: pointer; 
 } 

#menu ul{
    position: absolute;
    padding: 0px;
    top: 100%; 
    left: 0px;
    display: none; 
 } 

#menu li:hover ul{
    display: block; 
    background-color: rgb(192, 192, 192)
 }

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    
}

li{
    display: inline-block;
    margin-right: 20px;$
}

/*Searchbar*/
.search {
  width: 90%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid black;
  border-right: none;
  padding: px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: black;
}

.searchButton {
  width: 45px;
  height: 28px;
  border: 1px solid black;
  background: black;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.wrap{
  width: 30%;
  position: absolute;
  top: 64%;
  left: 85%;
  transform: translate(-50%, -50%);
}
/*Containers*/

footer {
    background: white;
    padding: 00px 00px;
    width: 100%;
    height: 450px;
}

.newarrivalscontainer, .newarrivalscontainer2, .bagscontainer, .bagscontainer2, .shirtscontainer, .shirtscontainer2, .topcontainer, .midcontainer, .bottomcontainer {
    min-height: 100%;
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-flow: row wrap;
}
.na1, .na2, .na3, .na4, .na5, .na6{
    min-height: 33.33vh; border: 5px solid white;
    flex-grow: 1; flex-shrink: 0;
}

.newarrivalscontainer .na1 .na2 .na3{
    flex-basis: 33%;
}

.newarrivalscontainer2 .na4 .na5 .na6{
    flex-basis: 33%;
}

.b1, .b2, .b3, .b4, .b5, .b6{
    min-height: 33.33vh; border: 5px solid white;
    flex-grow: 1; flex-shrink: 0;
}
.bagscontainer .b1 .b2 .b3{
    flex-basis: 33%;
}

.bagscontainer2 .b4 .b5 .b6{
    flex-basis: 33%;
}

.s1, .s2, .s3, .s4, .s5, .s6{
    min-height: 33.33vh; border: 5px solid white;
    flex-grow: 1; flex-shrink: 0;  
}

.shirtscontainer .s1 .s2 .s3{
    flex-basis: 33%;  
}

.shirtscontainer .s4 .s5 .s6{
    flex-basis: 33%;
}

.i1, .i2, .i3, .i4, .i5, .i6{
    min-height: 33.33vh; border: 5px solid white;
    flex-grow: 1; flex-shrink: 0;   
}
.topcontainer .i1 .i2{
    flex-basis: 50%;
}

.midcontainer .i3 .i4 .i5{
    flex-basis: 33%;
}

.bottomcontainer .i6{
    flex-basis: 100%;
}

/*Login*/
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: Arial, Helvetica, sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: black;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: black;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: black;
  text-decoration: none;
}
.form .register-form {
  display: none;
}

/*footer*/

ul {
    margin: 0;
    padding: 0;
  }
  
  ul li {
    list-style: none;
  }
  
  #contact a {
    color: black;
    margin: 10px;
  }
  
  #contact {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 125px;
    background-color: black;
  }
  
  #icon {
    background-color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #icon-container {
    display: flex;
  }
  
  #icon:hover {
    transform: translateY(-3px);
    box-shadow: 0 3px 5px 5px rgb(0 0 0 / 12%), 0 3px 5px rgb(0 0 0 / 24%);
  }
  
  #contact p {
    font-size: 14px;
  }

  .button {
    background-color: black; 
    border: none;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 16px;
    justify-content: center;
    align-items: center;
  }
 
  
  
  
  
  /*Billeder*/

/*Collection pics*/
.i1{
    background-image: url("collection/black.webp");
    background-repeat: no-repeat;
    background-size: 100%; 
}
.i2{
    background-image: url("collection/hat.webp");
    background-repeat: no-repeat;
    background-size: 100%; 
}
.i3{
    background-image: url("collection/lok.webp");
    background-repeat: no-repeat;
    background-size: 100%;  
}
.i4{
    background-image: url("collection/redfg.webp");
    background-repeat: no-repeat;
    background-size: 100%;  
}
.i5{
    background-image: url("collection/green.webp");
    background-repeat: no-repeat;
    background-size: 100%;  
}
.i6{
    background-image: url("collection/red.webp");
    background-repeat: no-repeat;
    background-size: 100%;  
}

/*New Arrivals pics*/
.na1{
    background-image: url("newarrivals/1.webp");
    background-repeat: no-repeat;
    background-size: 100%;  
}
.na2{
    background-image: url("newarrivals/2.webp");
    background-repeat: no-repeat;
    background-size: 100%;  
}
.na3{
    background-image: url("newarrivals/3.webp");
    background-repeat: no-repeat;
    background-size: 100%;  
}
.na4{
    background-image: url("newarrivals/4.webp");
    background-repeat: no-repeat;
    background-size: 100%;  
}
.na5{
    background-image: url("newarrivals/5.webp");
    background-repeat: no-repeat;
    background-size: 100%;  
}
.na6{
    background-image: url("newarrivals/6.webp");
    background-repeat: no-repeat;
    background-size: 100%;  
}

/*Shirts pics*/
.s1{
    background-image: url("tshirt/dark.webp");
    background-repeat: no-repeat;
    background-size: 100%; 
}

.s1:hover{
background-image: url("tshirt/top.webp");
background-repeat: no-repeat;
    background-size: 100%; 
}

.s2{
    background-image: url("tshirt/yee.webp");
    background-repeat: no-repeat;
    background-size: 100%; 
}
.s2:hover{
    background-image: url("tshirt/g.jpeg");
    background-repeat: no-repeat;
        background-size: 100%; 
    }

.s3{
    background-image: url("tshirt/bred.webp");
    background-repeat: no-repeat;
    background-size: 100%; 
}
.s3:hover{
    background-image: url("tshirt/r.jpeg");
    background-repeat: no-repeat;
        background-size: 100%; 
    }
.s4{
    background-image: url("tshirt/blue.webp");
    background-repeat: no-repeat;
    background-size: 100%; 
}
.s4:hover{
    background-image: url("tshirt/b.jpeg");
    background-repeat: no-repeat;
        background-size: 100%; 
    }

.s5{
    background-image: url("tshirt/pink.webp");
    background-repeat: no-repeat;
    background-size: 100%; 
}
.s5:hover{
    background-image: url("tshirt/p.webp");
    background-repeat: no-repeat;
        background-size: 100%; 
    }

.s6{
    background-image: url("tshirt/lime.webp");
    background-repeat: no-repeat;
    background-size: 100%; 
}
.s6:hover{
    background-image: url("tshirt/l.jpeg");
    background-repeat: no-repeat;
        background-size: 100%; 
    }

/*Bags pics*/
.b1{
    background-image: url("bags/pink.webp");
    background-repeat: no-repeat;
    background-size: 100%; 
}
  .b2{
    background-image: url("bags/rose.webp");
    background-repeat: no-repeat;
    background-size: 100%; 
  }
  .b3{
    background-image: url("bags/red.webp");
    background-repeat: no-repeat;
    background-size: 100%; 
  }
  .b4{
    background-image: url("bags/black.webp");
    background-repeat: no-repeat;
    background-size: 100%; 
  }

  .b5{
    background-image: url("bags/d.webp");
    background-repeat: no-repeat;
    background-size: 100%; 
  }
  
  .b6{
    background-image: url("bags/mb.webp");
    background-repeat: no-repeat;
    background-size: 100%; 
  }
  


